
<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>

  window.images = {
    splitzeesLogo: "<%= image_path("logo.png") %>",
    smallLogo: "<%= image_path("small_logo_icon.png") %>",
    waldo: "<%= image_path("waldo.png") %>",
    smallHuman: "<%= image_path("small_human.png") %>",
    wallet: "<%= image_path("wallet.png") %>",
    broke: "<%= image_path("broke.png") %>",
    splitBill: "<%= image_path("split_bill.jpg") %>"
  }
</script>


<main id="root"></main>
