<!DOCTYPE html>
<html>
  <head>
    <title>SplitZees</title>
    <%= csrf_meta_tags %>
    <%= include_gon(init: true, namespace: :myApp) %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/a5c6a2c03c.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
